{% extends "base.html" %}


{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<div class="container">
	<div class="row">
<div class="col-sm-8">
    <div class="card ">
    	
    		<h3 class="card-title">{{nhood.nhood_name}} </h3>
    
    	<form action=""  method="POST" >
            <label class="card-text">
                are you sure to delete this item
            </label>>
            <button class="btn btn-primary">submit</button>

    	</form>
    
    	    


</div>
    </div>
</div>
</div>

{% endblock %}