{% extends "base.html" %}


{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<div class="container">
	<div class="row">
<div class="col-sm-8">
    <div class="card ">
    	
    		<h3 class="card-title">{{nhood.nhood_name}}</h3>
    
    	<p class="card-text">
    		{{nhood.description}}
    	</p>
        {% if 'username'  in session %}
    	    <a href="{{url_for('editNeighbor', nhood_id=nhood.id)}}" class="card-link">Edit</a>&nbsp &nbsp &nbsp
    <a href="{{url_for('delNeighbor', nhood_id=nhood.id)}}" class="card-link">Delete</a>
    {% endif %}


</div>
    </div>
</div>
</div>

{% endblock %}